<div class="cv-section">
  {% for entry in site.data.cv %}
    {% if entry.title == "Experience" %}
      <div class="experience-entry">
        {% for content in entry.contents %}
          <div class="experience-content row">
            <!-- Container for Logo and Year Badge -->
            <!-- Year Badge -->
            <div class="badge-logo col-sm-1 col">
              {% if content.year %}
                <span class="badge font-weight-bold blue-gradient" style="min-width: 75px">
                  {{- content.year -}}
                </span>
              {% endif %}
              {% if content.logo %}
                  <div class="logo" style="width: 100px">
                    {% assign entry_path = content.logo | prepend: '/assets/img/logo/' %}
                    {%
                      include figure.liquid
                      loading="eager"
                      path=entry_path
                      sizes = "50px"
                      class="preview z-depth-1 rounded"
                      zoomable=false
                      alt=content.logo
                    %}
                  </div>
              </div>
            {% endif %}
            <!-- Details Column -->
            <div class="col-8">
              <br>

              </br>
              {% if content.title %}
                <div class="title font-weight-bold ml-1 ml-md-4">
                  {{ content.title }}
                </div>
              {% endif %}
              {% if content.url %}
                <div class="url">
                  <a href="{{ content.url }}" target="_blank" class="btncv z-depth-0">DOC</a>
                </div>
              {% endif %}
              {% if content.department or content.institution %}
                <div class="ml-1 ml-md-4">
                  {% if content.institution %}
                    <div class="institution">
                      <i class="fa-solid fa-building-columns iconinstitution"></i>
                      {{ content.institution }}
                    </div>
                  {% endif %}
                  {% if content.Host %}
                    <div class="Host">
                      {{ content.Host }}
                      <a href="{{ content.Host.url }}" target="_blank" class="btncv z-depth-0">DOC</a>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
              {% if content.maindescription %}
                <p class="maindescription ml-1 ml-md-4">
                  {{ content.maindescription }}
                </p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
</div>
